<div class="modal fade" id="Create" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Username:</label>
            <input type="text" class="form-control" value="" name="link" required="required">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Screen Name:</label>
            <input type="text" class="form-control" value="" name="name"  required="required">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Profile Picture:</label>
            <input type="text" class="form-control" value="" name="picture">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Email:</label>
            <input type="text" class="form-control" value="" name="email">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Password:</label>
            <input type="password" class="form-control" value="" name="pwd" >
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Confirm Password:</label>
            <input type="password" class="form-control" value="" name="cfpwd">
          </div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" name="create" value="zzz" class="btn btn-primary">Create account</button>
        </div>
      </div>
    </div>
  </div>
</div>
