<!--
*    Title: Bootdey (bs4 profile about) source code
*    Author: Dey Dey
*    Created: Jun 17th, 21:49
*    Bootstrap version: 4.1.1
*    Availability: https://bootdey.com/snippets/view/bs4-profile-about
*
-->

{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='events.css')}}">
<link rel="stylesheet"
			href="{{url_for('.static', filename='style.css')}}">
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-classic.css" />
{% endblock %}

{% block title %}Event {{event.title}}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                        <h3 class="m-t-10 m-b-5"><strong>{{ event.title }}</strong></h3>
                        <p class="m-b-10">{{ event.date }}</p>
                     </div>
                     <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
               </div>
            </div>
            <!-- end profile -->
            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0"  style="min-width: 100% !important;">

                  <!-- begin #profile-about tab -->
                  <div class="tab-pane fade in active show" id="profile-about">
                     <!-- begin table -->
                     <div class="table-responsive">
                        <table class="table table-profile">
                           <thead>
                              <tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
                              </tr>
                           </thead>
                           <tbody>
                              <tr class="highlight">
																<tr>
                                 <td class="field">Where</td>
                                 <td>
																	 {{ event.location }}
																 </td>
															 </tr>
																 <tr>
																 <td class="field">When</td>
                                 <td>{{ event.date }}</td>
															 </tr>
														 </tr>
															<tr class="highlight">
																 <td class="field">Info</td>
																 <td>
																	 {{ event.description }}
																 </td>
															</tr>
                              <tr class="highlight">
                                 <td class="field">Host</td>
                                 <td>{% set user = backend.users[event.host] %}
                                     {% include 'user_tile.html' %}
                                 </td>
                              </tr>
                              <tr class="divider">
                                 <td colspan="2"></td>
                              </tr>
                              <tr>
                                 <td class="field">Attendees</td>
                                 <td>
                                   {% if event.attendees|length >= 3 %}
                                     {% for i in range(3) %}
                                       {% set user = backend.users[event.attendees[i]] %}
                                       {% include 'user_tile.html' %}
                                     {% endfor %}
                                     </br>
                                     <a href="#" data-toggle="modal" data-target="#{{ event.link }}AllAttendeesModal" class="pull-left">See All Attendees</a>
                                   {% else %}
                                     {% for attendee in event.attendees %}
                                       {% set user = backend.users[attendee] %}
                                       {% include 'user_tile.html' %}
                                       {% if event.attendees|length > 1 %}
                                        <br>
                                       {% endif %}
                                     {% endfor %}
                                   {% endif %}
                                 </td>
                              </tr>
                              <tr class="divider">
                                 <td colspan="2"></td>
                              </tr>
                              <tr class="highlight">
                                 <td class="field">&nbsp;</td>
                                 <td class="p-t-10 p-b-10">
																	 <div class="btn-toolbar pull-right activity-actions" id="share">
                                       <script src="jquery.js"></script>
                                       <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
                                       <script>
                                           $("#share").jsSocials({
                                               text: "{{event.title}}",
                                               showLabel: false,
                                               showCount: false,
                                               shares: ["email", "twitter", "facebook", "linkedin"]
                                             });
                                       </script>
                                       <button id="copyLink" type="button" class="btn btn-md btn-toggle-hosting width-150 pull-left" onclick="copyToBoard()">
                                         <span><span class="glyphicon glyphicon-copy"></span>
                                         <strong> Copy Link</strong>
                                       </span></button>&nbsp;
                                       <script>
                                            function copyToBoard() {
                                              var dummy = document.createElement('input'),
                                                   text = window.location.href;

                                              document.body.appendChild(dummy);
                                              dummy.value = text;
                                              dummy.select();
                                              document.execCommand('copy');
                                              document.body.removeChild(dummy);

                                              var button = document.getElementById("copyLink");
                                              button.innerHTML = "Copied To Clipboard";
                                            }
                                      </script>
                                   </div>
                                   {% if event.host == backend.user %}
  																	 <button type="submit" data-toggle="modal" data-target="#{{ event.link }}EditModal" class="btn btn-toggle-info width-150">Update</button>
                                     <button type="submit" data-toggle="modal" data-target="#{{ event.link }}DeleteModal"class="btn btn-danger width-150 m-l-5">Delete Event</button>
                                     {% include 'edit_event_modal.html' %}
                                     {% include 'delete_event_modal.html' %}
                                   {% elif backend.user in event.attendees %}
                                     <button type="button" data-toggle="modal" data-target="#{{ event.link }}Unattend" class="btn btn-md btn-danger width-150">
                                       <span>
                                       <span class="glyphicon glyphicon-exclamation-sign"></span><strong> Unattend </strong></span>
                                     </button>&nbsp;
                                     {% include 'unattend_event_modal.html' %}
                                   {% else %}
                                     <button type="button" data-toggle="modal" data-target="#{{ event.link }}Attend" class="btn btn-md btn-toggle-following width-150"><span>
                                       <span class="glyphicon glyphicon-check" style="vertical-align: center;"></span></span><strong> Attend </strong>
                                     </button>
                                     {% include 'attend_event_modal.html'%}
                                   {% endif%}
                                </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <!-- end table -->
                  </div>
                  <!-- end #profile-about tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->
         </div>
      </div>
   </div>
</div>
    	</div>
	</div>
</div>

{% include 'all_attendees_modal.html' %}
{% endblock %}
