<!--
*    Title: Bootdey (bs4 profile about) source code
*    Author: Dey Dey
*    Created: Jun 17th, 21:49
*    Bootstrap version: 4.1.1
*    Availability: https://bootdey.com/snippets/view/bs4-profile-about
*
-->

{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='events.css')}}">
<link rel="stylesheet"
			href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block title %}Event {{event.title}}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                        <h3 class="m-t-10 m-b-5"><strong>{{ event.title }}</strong></h3>
                        <p class="m-b-10">{{ event.date }}</p>
                     </div>
                     <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
               </div>
            </div>
            <!-- end profile -->
            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0"  style="min-width: 100% !important;">

                  <!-- begin #profile-about tab -->
                  <div class="tab-pane fade in active show" id="profile-about">
                     <!-- begin table -->
                     <div class="table-responsive">
                        <table class="table table-profile">
                           <thead>
                              <tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
                              </tr>
                           </thead>
                           <tbody>
                              <tr class="highlight">
																<tr>
                                 <td class="field">Where</td>
                                 <td>
																	 <a href="#">{{ event.location }}</a>
																 </td>
															 </tr>
																 <tr>
																 <td class="field">When</td>
                                 <td>{{ event.date }}</td>
															 </tr>
														 </tr>
															<tr class="highlight">
																 <td class="field">Info</td>
																 <td>
																	 {{ event.description }}
																 </td>
															</tr>
                              <tr class="highlight">
                                 <td class="field">Host</td>
                                 <td>{% set user = backend.users[event.host] %}
                                     {% include 'user_tile.html' %}
                                 </td>
                              </tr>
                              <tr class="divider">
                                 <td colspan="2"></td>
                              </tr>
                              <tr>
                                 <td class="field">Attendees</td>
                                 <td>
                                   {% for attendee in event.attendees %}
                                    {% set user = backend.users[attendee] %}
                                    {% include 'user_tile.html' %}
                                   {% endfor %}
																	 <button type="button" class="btn btn-default">See all attendees</button>
																 </br>
															 </br>
                                 </td>
                              </tr>
                              <tr class="divider">
                                 <td colspan="2"></td>
                              </tr>
                              <tr class="highlight">
                                 <td class="field">&nbsp;</td>
                                 <td class="p-t-10 p-b-10">
																	 <div class="btn-toolbar pull-right activity-actions">
                                     <button type="button" class="btn btn-md btn-toggle-following width-150 pull-left"><span><span class="glyphicon glyphicon-share" style="vertical-align: center;"></span></span><a href="#"><strong> Share</strong></a></button>
                                     <button type="button" class="btn btn-md btn-toggle-hosting width-150 pull-left"><span><span class="glyphicon glyphicon-copy"></span><strong> Copy Link</strong></span></button>&nbsp;
                                   </div>
                                   {% if event.host == backend.user %}
  																	 <button type="submit" data-toggle="modal" data-target="#{{ event.link }}EditModal" class="btn btn-toggle-info width-150">Update</button>
                                     <button type="submit" data-toggle="modal" data-target="#{{ event.link }}DeleteModal"class="btn btn-danger width-150 m-l-5">Delete Event</button>
                                     {% include 'edit_event_modal.html' %}
                                     {% include 'delete_event_modal.html' %}
                                   {% elif backend.user in event.attendees %}
                                     <button type="button" data-toggle="modal" data-target="#{{ event.link }}Unattend" class="btn btn-md btn-danger width-150">
                                       <span>
                                       <span class="glyphicon glyphicon-exclamation-sign"></span><strong> Unattend </strong></span>
                                     </button>&nbsp;
                                     {% include 'unattend_event_modal.html' %}
                                   {% else %}
                                     <button type="button" data-toggle="modal" data-target="#{{ event.link }}Attend" class="btn btn-md btn-toggle-following width-150"><span>
                                       <span class="glyphicon glyphicon-check" style="vertical-align: center;"></span></span><a href="#"><strong> Attend </strong></a>
                                     </button>
                                     {% include 'attend_event_modal.html'%}
                                   {% endif%}
                                </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <!-- end table -->
                  </div>
                  <!-- end #profile-about tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->
         </div>
      </div>
   </div>
</div>
    	</div>
	</div>
</div>

{% endblock %}
