<div class="media activity-item">
    <a href="/{{ event.host }}" class="pull-left">
        <img src="{{ host.picture }}" alt="Avatar" class="media-object avatar">
    </a>

    <div class="media-body">
        <p class="activity-title"><a href="/{{ event.link }}">{{ event.title }}</a> at <a href="#">{{ event.location }}</a></p>
        <small class="text-muted">{{ event.date }}</small>
        <br>
        {{attendees}} <span class="glyphicon glyphicon-user" title="{{attendees}} attending"> </span>
        {% if friends > 0 %}
          | {{friends}} <span class="glyphicon glyphicon-heart-empty Friend" title="{{friends}} friends"> </span>
        {% endif %}
        {% for i in range(4) %}
          {% if badge_counts[i] > 0 %}
            | {{badge_counts[i]}} <span class="glyphicon glyphicon-tag {{badges[i]}}" title="{{badge_counts[i]}} from {{badges[i]}}"> </span>
          {% endif %}
        {% endfor %}
    </div>
    <div class="btn-toolbar pull-right activity-actions">
      <button type="button" class="btn btn-md btn-toggle-info pull-right"><span><span class="glyphicon glyphicon-arrow-right" style="vertical-align: center;"></span></span><a href="/{{ event.link }}"><strong> View Event</strong></a></button>

      {% if event.hosting %}
        <button type="button" class="btn btn-md btn-toggle-hosting pull-right"><span><span class="glyphicon glyphicon-check"></span><strong> Hosting</strong></span></button>&nbsp;
      {% else %}
        <button type="button" class="btn btn-md btn-toggle-following pull-right"><span><span class="glyphicon glyphicon-check"></span><strong> Going </strong></span></button>&nbsp;
      {% endif %}
    </div>
</div>
