<!--
*    Title: Bootdey (bs4 profile about) source code
*    Author: Dey Dey
*    Created: Jun 17th, 21:49
*    Bootstrap version: 4.1.1
*    Availability: https://bootdey.com/snippets/view/bs4-profile-about
*
-->

{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='events.css')}}">
<link rel="stylesheet"
			href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block title %}Event xyz{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                        <h3 class="m-t-10 m-b-5"><strong>Burgers n Beer</strong></h3>
                        <p class="m-b-10">Today at 5:30 pm</p>
                     </div>
                     <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
               </div>
            </div>
            <!-- end profile -->
            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0"  style="min-width: 100% !important;">

                  <!-- begin #profile-about tab -->
                  <div class="tab-pane fade in active show" id="profile-about">
                     <!-- begin table -->
                     <div class="table-responsive">
                        <table class="table table-profile">
                           <thead>
                              <tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
                              </tr>
                           </thead>
                           <tbody>
                              <tr class="highlight">
																<tr>
                                 <td class="field">Where</td>
                                 <td>
																	 <a href="#">Chicago Fire and Grill</a>
																	 <!--<a href="javascript:;">Add Mood Message</a>-->
																 </td>
															 </tr>
																 <tr>
																 <td class="field">When</td>
                                 <td>02.05.14 at 5:30 pm</td>
															 </tr>
														 </tr>
															<tr class="highlight">
																 <td class="field">Event Type</td>
																 <td>
																	 <div class="btn-toolbar">
																		  <button class="btn btn-default active">Casual</button>
																		  <button class="btn btn-default" disabled>Biz Casual</button>
																		  <button class="btn btn-default" disabled>Formal</button>
																		</div>
																 </td>
															</tr>
                              <tr class="highlight">
                                 <td class="field">Host</td>
                                 <td><a href="/">You</a></td>
                              </tr>
                              <tr class="divider">
                                 <td colspan="2"></td>
                              </tr>
                              <tr>
                                 <td class="field">Attendees</td>
                                 <td>
																	 <div class="media user-following">
																			 <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User Avatar" class="media-object pull-left">
																			 <div class="media-body">
																					 <a href="/jane_doe">Stella<br><span class="text-muted username">@stella</span></a>																			 </div>
																	 </div>
																	 <div class="media user-following">
																			 <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User Avatar" class="media-object pull-left">
																			 <div class="media-body">
																					 <a href="/jane_doe">Jane Doe<br><span class="text-muted username">@janed</span></a>
																			 </div>
																	 </div>
																	 <div class="media user-following">
																			 <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="User Avatar" class="media-object pull-left">
																			 <div class="media-body">
																					 <a href="/jane_doe">John Simmons<br><span class="text-muted username">@jsimm</span></a>																			 </div>
																	 </div>
																	 <div class="media user-following">
																			 <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="User Avatar" class="media-object pull-left">
																			 <div class="media-body">
																					 <a href="/jane_doe">Antonius<br><span class="text-muted username">@mrantonius</span></a>
																				 </div>
																	 </div>
																	 <button type="button" class="btn btn-default">See all attendees</button>
																 </br>
															 </br>
                                 </td>
                              </tr>
                              <tr class="divider">
                                 <td colspan="2"></td>
                              </tr>
                              <tr class="highlight">
                                 <td class="field">&nbsp;</td>
                                 <td class="p-t-10 p-b-10">
																	 <div class="btn-toolbar pull-right activity-actions">
                                     <button type="button" class="btn btn-md btn-toggle-following width-150 pull-left"><span><span class="glyphicon glyphicon-share" style="vertical-align: center;"></span></span><a href="/xyz"><strong> Share</strong></a></button>
                                     <button type="button" class="btn btn-md btn-toggle-hosting width-150 pull-left"><span><span class="glyphicon glyphicon-copy"></span><strong> Copy Link</strong></span></button>&nbsp;
                                   </div>

																	 <a href="/new_event"><button type="submit" class="btn btn-toggle-info width-150">Update</button></a>
                                  <button type="submit" class="btn btn-danger width-150 m-l-5">Delete Event</button>
                                </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <!-- end table -->
                  </div>
                  <!-- end #profile-about tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->
         </div>
      </div>
   </div>
</div>
    	</div>
	</div>
</div>

{% endblock %}
