{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-form">
    <form method="post">
        <h2 class="text-center">Log in</h2>
        <div class="form-group">
            <input type="text" name="username" class="form-control" placeholder="Username" required="required">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Password" required="required">
        </div>
        <div class="form-group">
            <button type="submit" name="login" value="zzz" class="btn btn-toggle-hosting btn-block">Log in</button>
        </div>
        <!--
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="#" class="pull-right">Forgot Password?</a>
        </div>-->
    </form>
    <button type="button" data-toggle="modal" data-target="#Create" class="btn btn-md btn-toggle-info btn-block">Create an Account</button>
    {% include 'create_account_modal.html' %}
</div>
{% endblock %}
