
<div class="modal fade" id="NewEventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Create new Happy Hour</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Title:</label>
            <input type="text" class="form-control" value="" name="newtitle" required = "required">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Location:</label>
            <input type="text" class="form-control" value="" name="newlocation">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Date:</label>
            <input type="text" class="form-control" value="" name="newdate">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Info:</label>
            <input type="text" class="form-control" value="" name="newdescription">
          </div>
      </div>
      <div class="modal-footer">
        <div class="form-group pull-right">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" name="newevent" value="zzz" class="btn btn-success">Create Happy Hour</button>
        </div>
      </div>
    </div>
  </div>
</div>
