<!--
*    Title: Bootdey (bs4 profile about) source code
*    Author: Dey Dey
*    Created: Jun 17th, 21:49
*    Bootstrap version: 4.1.1
*    Availability: https://bootdey.com/snippets/view/bs4-profile-about
*
-->

{% extends "base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='events.css')}}">
<link rel="stylesheet"
			href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block title %}New Event{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
   <div class="row">
      <div class="col-md-12">
         <div id="content" class="content content-full-width">
            <!-- begin profile -->
            <div class="profile">
               <div class="profile-header">
                  <!-- BEGIN profile-header-cover -->
                  <div class="profile-header-cover"></div>
                  <!-- END profile-header-cover -->
                  <!-- BEGIN profile-header-content -->
                  <div class="profile-header-content">
                     <!-- BEGIN profile-header-info -->
                     <div class="profile-header-info">
                       <input class="form-control form-control-bg" type="text"
                       placeholder="Enter Event Title"></textarea>
                       <input class="form-control form-control-sm" type="text"
                       placeholder="Enter Event location  "></textarea>
                     </div>
                     <!-- END profile-header-info -->
                  </div>
                  <!-- END profile-header-content -->
               </div>
            </div>
            <!-- end profile -->
            <!-- begin profile-content -->
            <div class="profile-content">
               <!-- begin tab-content -->
               <div class="tab-content p-0"  style="min-width: 100% !important;">

                  <!-- begin #profile-about tab -->
                  <div class="tab-pane fade in active show" id="profile-about">
                     <!-- begin table -->
                     <div class="table-responsive">
                        <table class="table table-profile">
                           <thead>
                              <tr>
																<td>&nbsp;</td>
																<td>&nbsp;</td>
                              </tr>
                           </thead>
                           <tbody>
                              <tr class="highlight">
																<tr>
                                 <td class="field">Where</td>
                                 <td>
																	 <a href="#"><input class="form-control form-control-sm" type="text"
                                   placeholder="Enter Event Location"></textarea></a>
																 </td>
															 </tr>
																 <tr>
																 <td class="field">When</td>
                                 <td><input class="form-control form-control-lg" type="text"
                                 placeholder="Enter Event Date"></textarea></td>
															 </tr>
														 </tr>
															<tr class="highlight">
																 <td class="field">Info</td>
																 <td><input class="form-control form-control-lg" type="text"
                                 placeholder="Enter Event Info"></textarea>
																 </td>
															</tr>
                              <tr class="highlight">
                                 <td class="field">Host</td>
                                 <td>{{ backend.users[backend.user].user_tile | safe }}</td>
                              </tr>
                              <tr class="highlight">
                                 <td class="field">&nbsp;</td>
                                 <td class="p-t-10 p-b-10">
																	 <div class="btn-toolbar activity-actions">
                                   <a href="/efg"><button type="submit" class="btn btn-toggle-info width-150">Create Event!</button></a>                                   </div>
                                </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                     <!-- end table -->
                  </div>
                  <!-- end #profile-about tab -->
               </div>
               <!-- end tab-content -->
            </div>
            <!-- end profile-content -->
         </div>
      </div>
   </div>
</div>
    	</div>
	</div>
</div>

{% endblock %}
