<!--
*    Title: Bootdey (Profile Activities Followers Following) source code
*    Author: Dey Dey
*    Created: Apr 3rd 2016, 22:59
*    Bootstrap version: 3.3.6
*    Availability: https://bootdey.com/snippets/view/Profile-Activities-Followers-Following#information
*
-->

{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

  <body>
    <div class="container">
    <div class="user-profile">

        <div class="row">
            <div class="col-md-4">
                <div class="profile-info-left">
                    <div class="text-center">
                        <img id="profile_pic" src="{{ backend.users[user].picture }}" alt="Avatar" class="avatar img-circle" style="border: 0.35em groove #FFCD00;">

                        <h2>{% if user == backend.user %}Hello, {% endif %}{{ backend.users[user].name }}</h2>
                    </div>
                    {% if user == backend.user %}
                      <div class="action-buttons center-block" style="width: 50% !important;">
                        <button class="btn btn-primary btn-block btn-md center-block" id="edit_profile" style="background-color: #182B49 !important;"><strong>Update Info</strong></a>
                      </div>
                    {% endif %}
                    <div class="section" id="about_me">
                        <h3>About Me</h3>
                        <p>{{ backend.users[user].about }}</p>
                    </div>
                    <div class="section" id="badges">
                        <h3>Badges</h3>
                        {% for i in range(4) %}
                          {% if backend.users[user].badges[i]%}
                          <span class="glyphicon glyphicon-tag
                          {{backend.badges[i]}}"
                          title=" {{backend.badges[i]}}"></span>
                          <span>{{backend.users[user].badges[i]}}</span>
                          <br>
                          {% endif %}
                        {% endfor %}
                    </div>
                    <div class="section" id="contact_info">
                        <h3>Contact Info</h3>
                        <ul class="list-unstyled list-social">
                            <li><span class="glyphicon glyphicon-user"></span> <span id="username">@{{backend.users[user].name}}</span> </li>
                            <li><span class="glyphicon glyphicon-envelope"></span> <span id="email">{{ backend.users[user].email }} <span> </li>
                        </ul>
                    </div>
                </div>
            </div>
          </br></br>

            <div class="col-md-8">
                <div class="profile-info-right">

                  {% if user == backend.user %}
                    <h1 class="text-center">Your Events</h1>
                  {% else %}
                    <h1 class="text-center">{{backend.users[user].name}}'s Events</h1>
                  {% endif %}

                </br>
                  <div class="action-buttons" style="margin: auto; max-width: 300px;">
                    <div class="row">
                    {% if user == backend.user %}
                      <div class="col-xs-6" style="width: 50% !important;">
                        <a href="/new_event" class="btn btn-success btn-lg btn-block"><strong>New Event</strong></a>
                      </div>
                    {% endif %}
                      <div class="col-xs-6">
                        <div class="dropdown">
                          <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">Sort by &nbsp;<span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <!--<input class="form-control" id="myInput" type="text" placeholder="Search..">-->
                            <li><a href="#">
                              <span class="glyphicon glyphicon-user badge_icon"> </span>
                              Total attendees</a></li>
                            <li><a href="#">
                              <span class="glyphicon glyphicon-heart-empty Friend"> </span>
                              Friends attending</a></li>
                            <li><a href="#">
                              <span class="glyphicon glyphicon-tag Faculty"> </span>
                              Faculty attending</a></li>
                            <li><a href="#">
                              <span class="glyphicon glyphicon-tag Research"> </span>
                              Researchers attending</a></li>
                            <li><a href="#">
                              <span class="glyphicon glyphicon-tag Clubs"> </span>
                              Club leaders attending</a></li>
                            <li><a href="#">
                              <span class="glyphicon glyphicon-tag Industry"> </span>
                              Industry members attending</a></li>
                            <li><a href="#">
                              <span class="glyphicon glyphicon-time badge_icon"> </span>
                              Most recent</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                    </br></br></br>
                    <ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom">
                        <li class="active"><a href="#all" data-toggle="tab">All</a></li>
                        <li><a href="#followers" data-toggle="tab">Attending</a></li>
                        <li><a href="#following" data-toggle="tab">Hosting</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- activities -->
                        <div class="tab-pane fade in active" id="all">
                            {% for event in backend.users[user].events %}
                              {{ backend.events[event].event_tile | safe}}
                            {% endfor %}
                          </br>
                        </br>
                            <button type="button" class="btn btn-default center-block">Load more events</button>
                        </div>
                        <!-- end activities -->
                        <!-- followers -->
                        <div class="tab-pane fade" id="followers">
                          {% for event in backend.users[user].events %}
                            {% if not backend.events[event].hosting %}
                              {{ backend.events[event].event_tile | safe}}
                            {% endif %}
                          {% endfor %}
                        </br>
                      </br>
                          <button type="button" class="btn btn-default center-block">Load more events</button>
                        </div>
                        <!-- end followers -->
                        <!-- following -->
                        <div class="tab-pane fade" id="following">
                          {% for event in backend.users[user].events %}
                            {% if backend.events[event].hosting %}
                              {{ backend.events[event].event_tile | safe}}
                            {% endif %}
                          {% endfor %}
                        </br>
                      </br>
                          <button type="button" class="btn btn-default center-block">Load more events</button>
                        </div>
                        <!-- end following -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  </body>

<script>
$(document).ready(function(){
    $("#edit_profile").click(function(){

      $("#edit_profile").replaceWith(`<button onclick="location.reload();" class="btn btn-primary btn-block btn-md center-block" id="edit_profile" style="background-color: #e4dfff; color: #333; !important;"><strong>Submit Changes</strong></a>`);

      $("#about_me p").replaceWith(`
        <div class="form-group">
        <textarea class="form-control" id="exampleFormControlTextarea1"
        rows="3">` + $("#about_me p").text() + `</textarea> </div>`);

      $("#badges").html(`
        <h3>Badges</h3>
        <div class="form-group">
        <span class="glyphicon glyphicon-tag Faculty"></span><span>  Faculty</span>
        <input class="form-control form-control-sm" type="text"
        placeholder="E.G. Professor for COGS 120"></textarea>
        </div>
        <div class="form-group">
        <span class="glyphicon glyphicon-tag Research"></span><span>  Research</span>
        <input class="form-control form-control-sm" type="text"
        placeholder="E.G. Data science graduate student"></textarea>
        </div>
        <div class="form-group">
        <span class="glyphicon glyphicon-tag Clubs"></span><span>  Clubs</span>
        <input class="form-control form-control-sm" type="text"
        placeholder="E.G. Leader of chess club"></textarea>
        </div>
        <div class="form-group">
        <span class="glyphicon glyphicon-tag Industry"></span><span>  Industry</span>
        <input class="form-control form-control-sm" type="text"
        placeholder="E.G. Recruiter for Microsoft"></textarea>
        </div>
        `);
      $("#username").replaceWith(`
        <div class="form-group">
        <input class="form-control form-control-sm" type="text"
        placeholder="` + $("#username").text() + `"></textarea> </div>`);

      $("#profile_pic").replaceWith(`
        <a href="#"><img id="profile_pic" src="/static/add_img.ico" alt="Avatar" class="avatar img-circle" style="border: 0.35em groove #FFCD00;"></a>
        `);

      $("#email").replaceWith(`
        <div class="form-group">
        <input class="form-control form-control-sm" type="email"
        placeholder="` + $("#email").text() + `"></textarea> </div>`);
      });
      attended = function(){
        $(this).replaceWith(`
          <button type="button" class="btn btn-md btn-light btn-block pull-right"><span><strong> Attended! </strong></span></button>&nbsp;
        `)
      };
      unattended = function(){
        $(this).replaceWith(`
          <button type="button" class="btn btn-md btn-light btn-block pull-right"><span><strong> Unattended... </strong></span></button>&nbsp;
        `).link
      };
      $(".unattend_btn").click(attended);
      $(".attend_btn").click(unattended);
    });
</script>

{% endblock %}
