{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

  <body>
    <div class="container">
    <div class="user-profile">

        <div class="row">
            <div class="col-md-4">
                <div class="profile-info-left">
                    <div class="text-center">
                        <img src="/static/percy.jpg" alt="Avatar" class="avatar img-circle" style="border: 0.35em groove #FFCD00;">
                        <h2>Hello, Percy</h2>
                    </div>
                    <div class="action-buttons center-block" style="width: 50% !important;">
                      <a href="#" class="btn btn-primary btn-block btn-md center-block" style="background-color: #747678 !important;"><strong>Update Info</strong></a>
                    </div>
                    <div class="section">
                        <h3>About Me</h3>
                        <p>Energistically administrate 24/7 portals and enabled catalysts for change. Objectively revolutionize client-centered e-commerce via covalent scenarios. Continually envisioneer.</p>
                    </div>
                    <div class="section">
                        <h3>Statistics</h3>
                        <p><span class="badge">332</span>&nbsp;Attending</p>
                        <p><span class="badge">124</span>&nbsp;Hosting</p>
                        <p><span class="badge">620</span>&nbsp;Likes</p>
                    </div>
                    <div class="section">
                        <h3>Contact Info</h3>
                        <ul class="list-unstyled list-social">
                            <li><span class="glyphicon glyphicon-user"></span> @percythedog</li>
                            <li><span class="glyphicon glyphicon-envelope"></span> percy@pal.dog</li>
                        </ul>
                    </div>
                </div>
            </div>
          </br></br>

            <div class="col-md-8">
                <div class="profile-info-right">
                  <h1 class="text-center">Your Events</h1>
                </br>
                  <div class="action-buttons">
                    <div class="row">
                      <div class="col-xs-6" style="width: 50% !important;">
                        <a href="#" class="btn btn-success btn-block"><strong>New Event</strong></a>
                      </div>
                      <div class="col-xs-6">
                        <div class="dropdown">
                          <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Filter by &nbsp;<span class="caret"></span></button>
                          <ul class="dropdown-menu">
                            <!--<input class="form-control" id="myInput" type="text" placeholder="Search..">-->
                            <li><a href="#">most attendees</a></li>
                            <li><a href="#">upcoming</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                    </br></br></br>
                    <ul class="nav nav-pills nav-pills-custom-minimal custom-minimal-bottom">
                        <li class="active"><a href="#all" data-toggle="tab">All</a></li>
                        <li><a href="#followers" data-toggle="tab">Attending</a></li>
                        <li><a href="#following" data-toggle="tab">Hosting</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- activities -->
                        <div class="tab-pane fade in active" id="all">
                            <div class="media activity-item">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="media-object avatar">
                                </a>
                                <div class="media-body">
                                    <p class="activity-title"><a href="/xyz">Burgers n Beer</a> at <a href="#">Chicago Fire and Grill</a></p>
                                    <small class="text-muted">Today 05:30 pm - 02.05.2014</small>
                                </div>

                                <div class="btn-toolbar pull-right activity-actions">
                                  &nbsp;<button type="button" class="btn btn-md btn-toggle-notifications pull-right"><span class="glyphicon glyphicon-bell" style="vertical-align: center;"></span> </button>
                                  &nbsp;<button type="button" class="btn btn-md btn-toggle-info pull-right"><span><span class="glyphicon glyphicon-info-sign" style="vertical-align: center;"></span></span><a href="/xyz"><strong> Event Details</strong></a></button>
                                  <button type="button" class="btn btn-md btn-toggle-following pull-right"><span><span class="glyphicon glyphicon-check"></span><strong> Going</strong></span></button>&nbsp;
                                </div>
                            </div>
                          </br>
                            <div class="media activity-item">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="media-object avatar">
                                </a>
                                <div class="media-body">
                                    <p class="activity-title">Engineering Wine Society (EWS) at <a href="#">Rock Bottom</a></p>
                                    <small class="text-muted">Tomorrow 08:00 pm - 02.06.2014</small>
                                </div>

                                <div class="btn-group pull-right activity-actions">
                                  <button type="button" class="btn btn-md btn-toggle-notifications pull-right"><span class="glyphicon glyphicon-bell" style="vertical-align: center;"></span> </button>
                                  <button type="button" class="btn btn-md btn-toggle-info pull-right">&nbsp;<span class="glyphicon glyphicon-info-sign" style="vertical-align: center;"></span> </button>
                                  <button type="button" class="btn btn-md btn-toggle-following pull-right"><span><span class="glyphicon glyphicon-check"></span><strong> Going</strong></span></button>
                                </div>
                            </div>
                          </br>
                            <div class="media activity-item">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="media-object avatar">
                                </a>
                                <div class="media-body">
                                    <p class="activity-title">Cocktails at <a href="#">BJs'</a></p>
                                    <small class="text-muted">Next Tuesday 04:30 pm - 02.10.2014</small>
                                </div>

                                <div class="btn-group pull-right activity-actions">
                                  <button type="button" class="btn btn-md btn-toggle-notifications pull-right"><span class="glyphicon glyphicon-bell" style="vertical-align: center;"></span> </button>
                                  <button type="button" class="btn btn-md btn-toggle-info pull-right">&nbsp;<span class="glyphicon glyphicon-info-sign" style="vertical-align: center;"></span> </button>
                                  <button type="button" class="btn btn-md btn-toggle-following pull-right"><span><span class="glyphicon glyphicon-check"></span><strong> Going</strong></span></button>
                                </div>
                            </div>
                          </br>
                        </br>
                            <button type="button" class="btn btn-default center-block">Load more events</button>
                        </div>
                        <!-- end activities -->
                        <!-- followers -->
                        <div class="tab-pane fade" id="followers">
                          <div class="media activity-item">
                              <a href="#" class="pull-left">
                                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="media-object avatar">
                              </a>
                              <div class="media-body">
                                  <p class="activity-title">Burgers n Beer at <a href="#">Chicago Fire and Grill</a></p>
                                  <small class="text-muted">Today 05:30 pm - 02.05.2014</small>
                              </div>

                              <div class="btn-group pull-right activity-actions">
                                <button type="button" class="btn btn-md btn-toggle-notifications pull-right"><span class="glyphicon glyphicon-bell" style="vertical-align: center;"></span> </button>
                                <button type="button" class="btn btn-md btn-toggle-info pull-right">&nbsp;<span class="glyphicon glyphicon-info-sign" style="vertical-align: center;"></span> </button>
                                <button type="button" class="btn btn-md btn-toggle-following pull-right"><span><span class="glyphicon glyphicon-check"></span><strong> Going</strong></span></button>
                              </div>
                          </div>
                        </br>
                          <div class="media activity-item">
                              <a href="#" class="pull-left">
                                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Avatar" class="media-object avatar">
                              </a>
                              <div class="media-body">
                                  <p class="activity-title">Engineering Wine Society (EWS) at <a href="#">Rock Bottom</a></p>
                                  <small class="text-muted">Tomorrow 08:00 pm - 02.06.2014</small>
                              </div>

                              <div class="btn-group pull-right activity-actions">
                                <button type="button" class="btn btn-md btn-toggle-notifications pull-right"><span class="glyphicon glyphicon-bell" style="vertical-align: center;"></span> </button>
                                <button type="button" class="btn btn-md btn-toggle-info pull-right">&nbsp;<span class="glyphicon glyphicon-info-sign" style="vertical-align: center;"></span> </button>
                                <button type="button" class="btn btn-md btn-toggle-following pull-right"><span><span class="glyphicon glyphicon-check"></span><strong> Going</strong></span></button>
                              </div>
                          </div>

                        </div>
                        <!-- end followers -->
                        <!-- following -->
                        <div class="tab-pane fade" id="following">
                            <div class="media user-following">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="User Avatar" class="media-object pull-left">
                                <div class="media-body">
                                    <a href="#">Stella<br><span class="text-muted username">@stella</span></a>
                                    <button type="button" class="btn btn-sm btn-danger pull-right"><i class="fa fa-close-round"></i> Unfollow</button>
                                </div>
                            </div>
                            <div class="media user-following">
                                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="User Avatar" class="media-object pull-left">
                                <div class="media-body">
                                    <a href="#">Jane Doe<br><span class="text-muted username">@janed</span></a>
                                    <button type="button" class="btn btn-sm btn-danger pull-right"><i class="fa fa-close-round"></i> Unfollow</button>
                                </div>
                            </div>
                            <div class="media user-following">
                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="User Avatar" class="media-object pull-left">
                                <div class="media-body">
                                    <a href="#">John Simmons<br><span class="text-muted username">@jsimm</span></a>
                                    <button type="button" class="btn btn-sm btn-danger pull-right"><i class="fa fa-close-round"></i> Unfollow</button>
                                </div>
                            </div>
                            <div class="media user-following">
                                <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="User Avatar" class="media-object pull-left">
                                <div class="media-body">
                                    <a href="#">Antonius<br><span class="text-muted username">@mrantonius</span></a>
                                    <button type="button" class="btn btn-sm btn-danger pull-right"><i class="fa fa-close-round"></i> Unfollow</button>
                                </div>
                            </div>
                            <div class="media user-following">
                                <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="User Avatar" class="media-object pull-left">
                                <div class="media-body">
                                    <a href="#">Michael<br><span class="text-muted username">@iamichael</span></a>
                                    <button type="button" class="btn btn-sm btn-danger pull-right"><i class="fa fa-close-round"></i> Unfollow</button>
                                </div>
                            </div>
                            <div class="media user-following">
                                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="User Avatar" class="media-object pull-left">
                                <div class="media-body">
                                    <a href="#">Stella<br><span class="text-muted username">@stella</span></a>
                                    <button type="button" class="btn btn-sm btn-danger pull-right"><i class="fa fa-close-round"></i> Unfollow</button>
                                </div>
                            </div>
                        </div>
                        <!-- end following -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




















    <!--
     	<div class="container">
        <div class="jumbotron img-responsive">
          <h1 class="page-header">Triton Pub</h1>
      		<div class="d-flex justify-content-center h-100">
      				<div class="image_inner_container">
      					<img src="/static/percy.jpg" class="rounded float-left img-responsive">
      			  </div>
    		  </div>
        </div>
        {% block createbutton %}
        {% endblock %}

        {% block eventlist %}
        {% endblock %}
      </div>
    -->
  </body>


{% endblock %}
