<!--
*    Title: Bootdey (Profile Activities Followers Following) source code
*    Author: Dey Dey
*    Created: Apr 3rd 2016, 22:59
*    Bootstrap version: 3.3.6
*    Availability: https://bootdey.com/snippets/view/Profile-Activities-Followers-Following#information
*
-->

{% extends "base.html" %}

{% block title %}Triton Pub Happy Hours!{% endblock %}

{% block content %}

  <body>
    <div class="container">
    <div class="user-profile">

        <div class="row">
            <div class="col-md-12">
                <div class="profile-info-right">
                  <div class="container">
                      <div class="row">
                          <div class="col-xs-9 col-xs-offset-1">
                  		    <div class="input-group">
                                  <div class="input-group-btn search-panel">
                                  <form method="GET">
                                        <input type="text" class="form-control" name="query" value="{% if request.args.get('query') %}{{request.args.get('query')}}{% endif %}" placeholder="Search term...">
                                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                                  </div>
                              </div>
                          </div>
                  	</div>
                  </div>
                  </br>
                  <div class="container input-group">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item inactive"><div class="list-group-item">
                          <span>Filter By:</span>
                        </a></li>
                          <li class="nav-item" data-toggle="buttons">
                              <label class="btn list-group-item {% if request.args.get('f_friend') == 'True' %} active {% endif %}" >
                                <input type="checkbox" onchange="submit()" name="f_friend" value="True" autocomplete="off" {% if request.args.get('f_friend') == 'True' %} checked {% endif %}>
                              <i class="fas fa-heart Friend"></i>
                              Friends attending</label>
                          </li>
                          <li class="nav-item" data-toggle="buttons">
                            <label class="btn list-group-item {% if request.args.get('f_faculty') == 'True' %} active {% endif %}">
                              <input type="checkbox"  onchange="submit()" name = "f_faculty" value="True" autocomplete="off" {% if request.args.get('f_faculty') == 'True' %} checked {% endif %}>
                            <i class="fas {{backend.badge_icons[0]}} Faculty"></i>
                            Faculty attending</label>
                          </li>
                          <li class="nav-item" data-toggle="buttons">
                            <label class="btn list-group-item {% if request.args.get('f_research') == 'True' %} active {% endif %}">
                              <input type="checkbox" onchange="submit()" name = "f_research" value="True" autocomplete="off" {% if request.args.get('f_research') == 'True' %} checked {% endif %}>
                            <i class="fas {{backend.badge_icons[1]}} Research"></i>
                            Researchers attending</label>
                          </li>
                          <li class="nav-item" data-toggle="buttons">
                            <label class="btn list-group-item {% if request.args.get('f_clubs') == 'True' %} active {% endif %}">
                              <input type="checkbox" onchange="submit()" name = "f_clubs" value="True" autocomplete="off" {% if request.args.get('f_clubs') == 'True' %} checked {% endif %}>
                            <i class="fas {{backend.badge_icons[2]}} Clubs"></i>
                            Club leaders attending</label>
                          </li>
                          <li class="nav-item" data-toggle="buttons">
                            <label class="btn list-group-item {% if request.args.get('f_industry') == 'True' %} active {% endif %}">
                              <input type="checkbox" onchange="submit()" name = "f_industry" value="True" autocomplete="off" {% if request.args.get('f_industry') == 'True' %} checked {% endif %}>
                            <i class="fas {{backend.badge_icons[3]}} Industry"></i>
                            Industry members attending</label>
                          </form>
                          </li>
                      </ul>
                    </div>
                    </br>
                    </br>
                    <div class="nav-pills">
                        <!-- activities -->
                        <div class="tab-pane fade in active" id="all">
                            {% for key in eventlist %}
                              {% set event = backend.events[key] %}
                              {% if request.args.get('old') %}
                                {% include 'event_tile_old.html'%}
                              {% else %}
                                {% include 'event_tile.html' %}
                              {% endif %}
                            {% endfor %}
                            {% if eventlist|length == 0%}
                              <br><br>
                              <h4 class="text-center">Sorry, we couldn't find any happy hour events matching your search</h4>
                            {% endif %}
                          </br>
                        </br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  </body>
<script>
$(document).ready(function(){
  $("#friend_filter").click(function(){
    $(".event_tile").show()
  });
  $("#faculty_filter").click(function(){
      $(".event_tile").hide()
      $(".Faculty_tile").show()
  });
  $("#research_filter").click(function(){
      $(".event_tile").hide()
      $(".Research_tile").show()
  });
  $("#club_filter").click(function(){
      $(".event_tile").hide()
      $(".Clubs_tile").show()
  });
  $("#industry_filter").click(function(){
      $(".event_tile").hide()
      $(".Industry_tile").show()
  });
});
</script>
{% endblock %}
