<div class="modal fade" id="{{ event.link }}Unattend" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Unattend Event: {{event.title}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post">
           Are you sure you want to unattend?
           <input type="hidden" name="{{event.link}}name" value="{{ backend.user }}">
      </div>
      <div class="modal-footer">
        <div class="form-group pull-right">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" name="unattend" value="{{event.link}}" class="btn btn-danger">Unttend event</button>
        </div>
      </div>
    </div>
  </div>
</div>
